@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure full-height layout */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
